/* Скидання по тегам*/
body{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;

}
.container {
    max-width: 1128px;
    margin: 0 auto;
    padding: 0 16px;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Секція Навігації*/
.header-wraper{
    display: flex;
}
.logo{
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.logo-header{
color: #2E2F42;
}


.nav-list-item{
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.nav-list-item:hover,
    :focus{
    color:#404BBF;
}


.adress-header{
    font-style: normal;
}
.contacts-item{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.contacts-item:hover,
    :focus {
    color: #404BBF;
}
/* Секція Лого(Hero)*/
.hero {
    padding: 188, 0;
    background-color: #2E2F42;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}
.hero-btn{
    cursor: pointer;
    background: #4D5AE5;
    font-family: "Roboto",  sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.hero-btn:hover, :focus{
    background-color: #404BBF;
}

/* Секція Проекти*/
.feature-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    }
.feature-list-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/*Секція Команда*/
.team{
    background-color:#F4F4FD ;
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;

}

.team-card{
        background: #FFFFFF;
}
.team-card-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}

.team-card-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}


/*Секція портфоліо*/
.portfolio-card{
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    
     
    
}
.portfolio-card-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.portfolio-card-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


/* футер */
.footer{
    background-color: #2E2F42;
}
.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #F4F4FD;
}
.footer-text{
    font-weight: 400;
    font-size: 16px;
     line-height: 1.5;
    letter-spacing: 0.02em;
    color:#F4F4FD;
}